a{
    width: 100%;
    height: 100%;
}

.content img{
    width: 100%;
}

#onead_container{
    width: auto;
    height: auto;
    margin: 0 auto;
}

#onead_container #div-onead-ad{
    visibility: visible;
    margin-left: 0px;
    margin-right: 0px;
}

#inread_layout{
    width: 100%;
    height: 0px;
    position: relative;
    padding-bottom: 56.25%;
    /* padding-bottom: 140%; */
    margin: 1em 0px;
    overflow: hidden;
    transform-origin: 0px 0px 0px;
    box-sizing: border-box;
    z-index: 0;
    transition: padding-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: padding-bottom;
}

#gsplayer{
    width: 100%;
    height: 211px;
    position: relative;
    opacity: 0.99;
    transform: translateX(-34%);
    /* transform: translateX(0%); */
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: transform;
    z-index: 80000;
}

#gsplayer #play-button{
    width: 10%;
    height: 14%;
    cursor: pointer;
    left: 45.31%;
    top: 43.05%;
    position: absolute;
    z-index: 999999996;
}

#gsplayer #play-button img{
    width: 100%;
    height: 100%;
}

#gsplayer video{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    height: 56vw;
}

#gsplayer #mutedButton{
    position: absolute;
    left: 0;
    bottom:2%;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 6%;
    height: 3%;
    border-radius: 5px;
    background-color: rgba(157, 157, 157, 0.5);
    transform: rotate(180deg);
}

#gsplayer #mutedButton .bar{
    transition: all .2s;
    width: 18%;
    height: 10%;
    background:linear-gradient(#bdbcbc,#393939);
    opacity: .8;
}

#banner_wrapper{
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: scale(0.396094);
    /* transform: scale(0.585938) translateY(358px); */
    transform-origin: right top;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 90000;
    will-change: transform;
    max-width: none !important;
}

#banner_wrapper iframe{
    z-index: -1;
    right: 0px;
    background: rgb(204, 204, 204);
    width: 640px !important;
    height: 535px !important;
    transform: scale(1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: transform;
    left: 0px !important;
    max-width: none !important;
    top: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}